* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: rgb(240, 243, 243);
}
/* navbar */
.navbar4 {
    display: flex;
    justify-content: space-evenly;
    padding: 17px;
    margin: 30px;
    background-color: #ffff;
    align-items: center;
      z-index:1000;
 position: fixed;
    top: 50;
    right: 40px;
    left: 40px;

}

img {
    width: 50px;
}

.logo4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-right: 100px;
}

span {
    font-weight: bold;
    color: rgb(75, 74, 74);
}

.text {
    border-left: 1px solid black;
    padding: 16px;
}

.nav-list ul {
    display: flex;
    gap: 30px;
    margin-left: 40PX;


}


.nav-list li a {
    color: rgb(85, 85, 85);
    font-weight: bold;
}

.textlogo {

    color: rgb(85, 85, 85);
}

.nav-list li a {

    text-decoration: none;
}

ul {
    list-style-type: none;
}

.serch-icon {
    font-size: 21PX;
    margin-right: 10PX;

}

.menu {
    font-size: 30px;
    display: none;
}
.listclick li :hover{ border: 2px solid blue;
background-color: #1c69d4;
    color: #ffff;
    border: none;
    padding: 16px;
}
.serch-icon :hover{border: 2px solid blue;
background-color: #1c69d4;
    color: #ffff;
    border: none;
    padding: 16px;
cursor: pointer;}

/* navbar end */