* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

/* navbar */
.navbar3 {
    display: flex;
    justify-content: space-evenly;
    padding: 17px;
    margin: 30px;
    background-color: #ffff;
    align-items: center;
     z-index:1000;
 position: fixed;
    top: 50;
    right: 40px;
    left: 40px;

}

img {
    width: 50px;
}

.logo3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-right: 100px;
}

span {
    font-weight: bold;
    color: rgb(75, 74, 74);
}

.text {
    border-left: 1px solid black;
    padding: 16px;
}

.navlist3 ul {
    display: flex;
    gap: 30px;
    margin-left: 40PX;


}


.navlist3 li a {
    color: rgb(85, 85, 85);
    font-weight: bold;
}

.textlogo {

    color: rgb(85, 85, 85);
}

.navlist3 li a {

    text-decoration: none;
}

ul {
    list-style-type: none;
}

.serch-icon3 {
    font-size: 21PX;
    margin-right: 10PX;

}

.menu {
    font-size: 30px;
    display: none;
}
.listclick3 li :hover{ border: 2px solid blue;
background-color: #1c69d4;
    color: #ffff;
    border: none;
    padding: 16px;
}
.serch-icon3 :hover{border: 2px solid blue;
background-color: #1c69d4;
    color: #ffff;
    border: none;
    padding: 16px;
cursor: pointer;}



/* navbar end */

/* hero section */

.vido2{display: block;}
.text6 {
    color: aliceblue;
    padding: 30px;
    
}


.info {
    color: aliceblue;
    line-height: 40px;
    font-size: 25px;
    padding-bottom: 50px;
}

.maincontant{
    padding-left: 90px;
    padding-top: 60px;
    background-color: rgb(38, 37, 37);
}



h1 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 72px;          
  font-weight: 300;         
  letter-spacing: 0.12em;   
  text-transform: uppercase;
  line-height: 1.1;
  color: #ffffff;
    padding-bottom: 30px;
}

.info-sec{


    color: black; 
 
     padding: 90px 90px;
     
}
.minitext{
 
  font-size: 28px;
  line-height: 1.4;
  color: #000;
  margin-bottom: 25px;
  max-width: 600px;


}


.info-link{text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(75, 74, 74);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 1px;}


  .info-link .arrow {
  font-size: 30px;
  color: #000;
}


.main-contanor-video{
    display: flex;
    margin: 70px;
    gap: 5px;
}

.firttextv{
    padding-top: 30px;
    padding-left: 90px;
}

.neue{
padding-bottom: 10px;   
    font-size: 20px;
    color: rgb(48, 48, 48);
}
.neue2{
    font-size: 20px;
        color: rgb(41, 40, 40);
}


.future{   font-size: 26px;
    line-height: 40px;
    color: #141414;
}
.left{
    padding-left: 40px;
}
.right{
     padding-left: 30px;
}

.threev
{display: flex;
    justify-content: center;
}
.three-text-contenor{padding-left: 70px;
padding-top: 10px;}
/* new */


/* 3 Columns setup with 5px gap */
        .video-grid {
            display: flex;
            gap: 5px; 
            justify-content: center;
            padding: 60px;
        }

        

        .text-content {
            padding: 30px 
            ;
        }


        .title {
            font-size: 26px;
            color: #141414;
            line-height: 1.3;
            font-weight: 500;
padding-top: 10px;        }






/*  */


/* Container jo cards ko side-by-side rakhega */
        .section-grid {
            display: flex;
            gap: 5px;
            max-width: 1200px;
            margin: 0 auto;
        }

        /* Card ki Styling */
        .card {
            flex: 1;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }





        .media-box{
          background-size: cover;
  background-position: center;
  transition: 0.5s ease;
   width: 100%;
  height: 350px;
  background-image: url("../assets/image1.webp");

}


/* hover par image change */
.media-box:hover {
  background-image: url("../assets/image7.webp"); 
}
    .media-box:hover {
  background-image: url("../assets/image8.webp");
}
           



        /* Image/Video Container jo zoom ko bahar nahi nikalne dega */
        .media-box {
            position: relative;
            width: 100%;
            height: 380px; /* Screenshots ke mutabiq height */
            overflow: hidden; 
            background-color: #f6f6f6;
        }

        /* Main Image Styling */
        .media-box img, .media-box video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 1.7s cubic-bezier(0.2, 1, 0.3, 1);
        }

        .card:hover .media-box img, 
        .card:hover .media-box video {
            transform: scale(1.08); 
        }

        /* Text Content Styling */
        .content {
            padding: 24px;
        }

        .category-label {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.5px;
            margin-bottom: 10px;
            display: block;
        }

        .main-title {
            font-size: 26px;
            font-weight: 400;
            line-height: 1.3;
            max-width: 90%;
        }

        
/*  hero section end */



/*  */
.zoom-dark {
  overflow: hidden;
  position: relative;
}

.zoom-dark img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: 0.5s ease;
}

/* dark overlay */
.zoom-dark::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

/* hover effects */
.zoom-dark:hover img {
  transform: scale(1.08);
}

.zoom-dark:hover::after {
  background: rgba(0, 0, 0, 0.25);
}
